# Student Marks Prediction with Machine Learning

In [1]:
# Student Marks Prediction with Machine Learning project

In [2]:
#libraries

In [35]:
import pandas as pd
from pycaret.regression import*
import joblib

In [4]:
#read the data

In [5]:
df=pd.read_csv("Student_Marks.csv")

In [6]:
#EDA

In [8]:
# see first 5 cells

In [7]:
df.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [10]:
#see last 5 cell

In [11]:
df.tail()

    number_courses  time_study   Marks
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

In [12]:
# see data info

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   Marks           100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [15]:
#see df shape

In [16]:
df.shape

(100, 3)

In [17]:
#see df corelations

In [23]:
df.corr()

                number_courses  time_study     Marks
number_courses        1.000000    0.204844  0.417335
time_study            0.204844    1.000000  0.942254
Marks                 0.417335    0.942254  1.000000

In [24]:
# we see most important column is time_study

In [25]:
# see null columns

In [26]:
df.isnull().sum()

number_courses    0
time_study        0
Marks             0
dtype: int64

### modeling

In [29]:
# setup model

In [30]:
setup(data=df,target='Marks')

In [32]:
# model compare

In [31]:
compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

ExtraTreesRegressor(n_jobs=-1, random_state=229)

In [34]:
# croos over best model

In [33]:
best_model = create_model('et')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [36]:
#model save

In [38]:
joblib.dump(best_model,"model_student.joblib")

['model_student.joblib']

In [39]:
#sources

-Zafer Acar Notes